:root {
	--rounded: 1rem;
	--rounded-top: 1rem 1rem 0 0;
	--rounded-bottom: 0 0 1rem 1rem;
	--rounded-sm: 0.5rem;
	--rounded-max: 9999px;

	--button-shadow: inset 0px 1px 0 rgba(255, 255, 255, .1), inset 0px -1px 0 rgba(0, 0, 0, .1);
}

.app {
	color: var(--color-primary);
	background: var(--background-primary);
	font-family: var(--font-primary);
}

.focusable {
	outline: none;
	&:focus {
		animation: 1s infinite alternate basic-focus;
	}
}

@keyframes basic-focus {
	0% {
		box-shadow: 0 0 0 2px var(--border-tertiary);
	}
	100% {
		box-shadow: 0 0 0 2px var(--border-secondary);
	}
}