.theme-color {
	--color-primary: hsl(var(--theme-hue) 80% 95%);
	--color-secondary: hsl(var(--theme-hue) 25% 75%);
	--color-tertiary: hsl(var(--theme-hue) 40% 80%);

	--background-header: hsl(var(--theme-hue) 10% 15%);
	--background-primary: hsl(var(--theme-hue) 10% 40%);
	--background-secondary: hsl(var(--theme-hue) 10% 50%);
	--background-tertiary: hsl(var(--theme-hue) 10% 53%);

	--border-primary: hsl(var(--theme-hue) 10% 55%);
	--border-secondary: hsl(var(--theme-hue) 10% 60%);
	--border-tertiary: hsl(var(--theme-hue) 30% 90%);

	--button-color: hsl(var(--theme-hue) 80% 95%);
	--button-color-active: hsl(var(--theme-hue) 20% 80%);

	--button-background: hsl(var(--theme-hue) 25% 60%);
	--button-background-hover: hsl(var(--theme-hue) 20% 55%);
	--button-background-active: hsl(var(--theme-hue) 20% 50%);
}