.theme-dark {
	--color-primary: #fff;
	--color-secondary: hsl(250 4% 90% / 70%);
	--color-tertiary: hsl(250 4% 80% / 60%);

	--background-primary: hsl(250 3% 12%);
	--background-secondary: hsl(250 3% 22%);
	--background-tertiary: hsl(250 3% 32% / 80%);

	--border-primary: hsl(250 4% 35% / 50%);
	--border-secondary: hsl(250 4% 60% / 50%);
	--border-tertiary: hsl(250 4% 90%);

	--button-color: #fff;
	--button-color-active: hsl(0 0% 80%);

	--button-border: hsl(250, 90%, 85%);
	--button-background: hsl(250, 90%, 70%);
	--button-background-hover: hsl(250 40% 50%);
	--button-background-active: hsl(250 40% 45%);

	--menu-color-hover: hsl(250 95% 78%);
	--menu-background-hover: hsl(250 4% 40% / 50%);
}