.theme-light {
	--color-primary: hsl(0 0% 0%);

	--background-header: hsl(0 0% 70%);
	--background-primary: hsl(0 0% 90%);

	--button-color: hsl(0 0% 90%);
	--button-color-active: hsl(0 0% 80%);

	--button-background: hsl(0 0% 55%);
	--button-background-hover: hsl(0 0% 50%);
	--button-background-active: hsl(0 0% 45%);
}