.theme-light {
	--color-primary: hsl(0 0% 20%);
	--color-secondary: hsl(0 0% 40%);

	--background-header: hsl(0 0% 80%);
	--background-primary: hsl(0 0% 90%);
	--background-secondary: hsl(0 0% 80%);
	--background-tertiary: hsl(0 0% 85%);

	--border-primary: hsl(0 0% 80%);
	--border-secondary: hsl(0 0% 85%);
	--border-tertiary: hsl(0 0% 50%);

	--button-color: hsl(0 0% 90%);
	--button-color-active: hsl(0 0% 80%);

	--button-background: hsl(0 0% 55%);
	--button-background-hover: hsl(0 0% 50%);
	--button-background-active: hsl(0 0% 45%);
}